<p id="notice"><%= notice %></p>

<p>
  <strong>Auth st:</strong>
  <%= @auth_invoicest.auth_st %>
</p>

<%= link_to 'Edit', edit_auth_invoicest_path(@auth_invoicest) %> |
<%= link_to 'Back', auth_invoicests_path %>
