<p id="notice"><%= notice %></p>

<p>
  <strong>Auth name:</strong>
  <%= @auth_paymethod.auth_name %>
</p>

<%= link_to 'Edit', edit_auth_paymethod_path(@auth_paymethod) %> |
<%= link_to 'Back', auth_paymethods_path %>
