<h1>Editing Auth Order Shipping Rule</h1>

<%= render 'form', auth_order_shipping_rule: @auth_order_shipping_rule %>

<%= link_to 'Show', @auth_order_shipping_rule %> |
<%= link_to 'Back', auth_order_shipping_rules_path %>
