<p id="notice"><%= notice %></p>

<p>
  <strong>Auth st:</strong>
  <%= @auth_payst.auth_st %>
</p>

<%= link_to 'Edit', edit_auth_payst_path(@auth_payst) %> |
<%= link_to 'Back', auth_paysts_path %>
