<h1>Editing Auth Shippingrule2obj</h1>

<%= render 'form', auth_shippingrule2obj: @auth_shippingrule2obj %>

<%= link_to 'Show', @auth_shippingrule2obj %> |
<%= link_to 'Back', auth_shippingrule2objs_path %>
