<p id="notice"><%= notice %></p>

<p>
  <strong>Controllername:</strong>
  <%= @permission.controllername %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
