<p id="notice"><%= notice %></p>

<p>
  <strong>St:</strong>
  <%= @auth_reasonst.st %>
</p>

<%= link_to 'Edit', edit_auth_reasonst_path(@auth_reasonst) %> |
<%= link_to 'Back', auth_reasonsts_path %>
