<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auth_bundle_type.name %>
</p>

<%= link_to 'Edit', edit_auth_bundle_type_path(@auth_bundle_type) %> |
<%= link_to 'Back', auth_bundle_types_path %>
