<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auth_obj_attr_group.name %>
</p>

<%= link_to 'Edit', edit_auth_obj_attr_group_path(@auth_obj_attr_group) %> |
<%= link_to 'Back', auth_obj_attr_groups_path %>
