<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auth_tagtype.name %>
</p>

<%= link_to 'Edit', edit_auth_tagtype_path(@auth_tagtype) %> |
<%= link_to 'Back', auth_tagtypes_path %>
