<h1>Editing Auth Sel Shippingrule</h1>

<%= render 'form', auth_sel_shippingrule: @auth_sel_shippingrule %>

<%= link_to 'Show', @auth_sel_shippingrule %> |
<%= link_to 'Back', auth_sel_shippingrules_path %>
