.container
  .row
    .col-lg-12
      =notice
      %br
      %br
      Hello,
      =@u.email
      (#ID:
      =@u.id
      )

      .text-right
        =link_to('Logout', destroy_user_session_path, :method => :delete)     
