!!!
%html{:lang => "en"}
  %head
    %title Adm
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %script{:src=>"/assets_default/jquery.min.js"}
    %link{ :rel=>"stylesheet", :href=>"/assets_default/bootstrap.min.css"}
    %link{ :rel=>"stylesheet", :href=>"/assets_default/bootstrap-theme.min.css"}
    %script{ :src=>"/assets_default/bootstrap.min.js"}

  %body
    %a{:href=>"/", :target => '_blank'}
      Website
    %a{:href=>"/adm/"}
      Admin
    %a{:href=>"/adm/users"}
      User
    %a{:href=>"/auth_orders"}
      Orders
    %a{:href=>"/auth_ordersts"}
      OrderST
    %a{:href=>"/auth_paysts"}
      PayST
    -if current_user && current_user.id == 1
      ='['
      %a{:href=>"/positions"}
        Positions
      %a{:href=>"/adm/importer"}
        Importer
      =']'


    = yield
