!!!
%html{:lang => "en"}
  %head
    %title Adm
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %script{:src=>"/assets_default/jquery.min.js"}
    %link{ :rel=>"stylesheet", :href=>"/assets_default/bootstrap.min.css"}
    %link{ :rel=>"stylesheet", :href=>"/assets_default/bootstrap-theme.min.css"}
    %script{ :src=>"/assets_default/bootstrap.min.js"}

  %body
    %a{:href=>"/", :target => '_blank'}
      Website
    %a{:href=>"/auth_orders"}
      Orders
    %a{:href=>"/auth_invoices"}
      Invoices
    %a{:href=>"/auth_carts"}
      Cart
    %a{:href=>"/auth_objs"}
      SaleableItems
    %a{:href=>"/auth_tags"}
      Tags/Category
    %a{:href=>"/auth_tagtypes"}
      TagType
    %a{:href=>"/auth_tag2tags"}
      TagRelation
    %a{:href=>"/auth_tag2objs"}
      Tag2Obj
    %a{:href=>"/auth_bundles"}
      Bundles
    %a{:href=>"/auth_coupons"}
      Coupons
    %a{:href=>"/adm/users"}
      User
    ='['
    %a{:href=>"/auth_ordersts"}
      OrderST
    %a{:href=>"/auth_paysts"}
      PayST
    %a{:href=>"/auth_invoicests"}
      InvST
    %a{:href=>"/auth_paymethods"}
      PayMethod
    =']'
    -if current_user && current_user.id == 1
      ='['
      %a{:href=>"/positions"}
        Positions
      %a{:href=>"/adm/importer"}
        Importer
      =']'
      ='['
      %a{:href=>"/auth_order_shipping_rules"}
        ShippingRules
      =']'
      ='['
      %a{:href=>"/auth_user_addrs"}
        UserAddress
      %a{:href=>"/auth_user_addr_types"}
        AddressType
      %a{:href=>"/auth_addrs"}
        Address
      %a{:href=>"/auth_sbs"}
        Suburb
      %a{:href=>"/auth_sts"}
        State
      %a{:href=>"/auth_gjs"}
        Country
      =']'


    = yield
